body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li.plan-feature-filler{
    list-style-type: none;
}

.card_pricing{
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
}

#footer{
    width: 100%;
    margin-top: auto;
}
