<div class="card-footer text-center bg-dark text-light" id="footer">
  <p class="m-0">Made by: <%= link_to "Joaquin Berrios", "https://joaquinb2000.github.io/Portfolio-site/", class: "text-info",target: :blank%> (2022)</p>
</div>
